
.container {
    position: relative;
    padding: 20px 180px;
    background-color: #d7c6f3;
   
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    z-index: 50;
    padding: 10px 20px;
    box-shadow: 0 0 30px 0 #00000020;
    background-color:#fff;
  }

  #top-tier {
    margin: 20px 0;
  }
  
  .tier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
  
  .btn-tier {
    padding: 6px 30px;
    color: #fbf9ff;
    background-color: #896ab8;
    position: relative;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
  }  
  .quantity-c {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 17px;
  }
  
  .page-ip-c p {
    text-align: start;
    font-size: 16px;
    color: #231833;
  }
  
  .quantity {
    width: 50%;
  }
  
  .quantity input {
    color:#000000;
    padding: 7px;
    margin: 3px 0 8px 0;
    border: 1px solid #aba1a1de;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
  }
  
  .page {
    display: flex;
    gap: 12px;
  }
  
  .page div {
    width: 100%;
    padding: 10px 20px;
    color: #1d1d1d;
    background-color: #9376be;
    position: relative;
    border-radius: 12px;
    font-size: 17px;
  }
  
  .page div::after {
    
    position: absolute;
    width: 100%;
    background-color:#1d1d1d;
    height: 100%;
    top: 6px;
    left: 6px;
    border: 2px solid #d7c6f3;
    border-radius: 12px;
    z-index: -1;
    transition: all 0.2s;
  }
  /* date picker css */
  .date-c p {
    text-align: start;
    color: #231833;
    font-size: 16px;
  }
  .react-datepicker__input-container input {
    padding: 9px 10px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #d7c6f3;
  }
  .price-c {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
  }
  
  .price-main {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.341);
  }
  /* ------order button---- */
  .order-btn button {
    width: 100%;
    cursor: pointer;
    padding: 18px 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #ebab34;
    border-radius: 15px;
    transition: all 0.3s;
  }
  
  .order-btn button:hover {
    transform: scale(1.03);
  }
  
  .paper-select {
    width: 100%;
    margin: 5% 0;
  }
  
  .paper-select p {
    text-align: start;
    margin: 5px 0;
    font-size: 18px;
  }

  .price {
    color: #000000;
    padding-top: 6px;
    text-align: center;
    font-size: 20px;
  }

  